//_cart-item.scss

@use "./../../styles/base/variables" as *;
@use "./../abstracts/mixins" as *;

.cart-item {
	max-width: 100%;
	max-height: 208px;
	background-color: transparent;
	padding-bottom: 24px;
	display: flex;
	gap: 24px;

	&__img-style {
		max-width: 128px;
		max-height: 160px;
		border-radius: $border-radius;
	}

	&__info {
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		&-header {
			display: flex;
			align-items: start;
			justify-content: space-between;

			&-left {
				color: $light-gray-text;
			}
		}

		&-title-wrap {
			display: flex;
			flex-direction: column;
			gap: 12px;

			& span {
				color: $gold-accent;
				text-transform: uppercase;
				letter-spacing: $category-letter-spacing;
				font-size: var(--category-font-size);
			}
		}

		&-title {
			color: $primary-text;
			font-weight: 600;
			font-family: var(--title-font);
			font-weight: 400;
			font-size: var(--card-title-size);
		}

		&-size {
			color: $light-gray-text;
			font-size: 0.875rem;
		}

		&-footer {
			display: flex;
			align-items: center;
			justify-content: space-between;
		}

		// &-price {
		// 	font-family: inherit;
		// 	// font-weight: 300;
		// 	color: $light-gold;
		// 	letter-spacing: 0.01em;
		// }

		&-price {
			font-family: inherit;
			display: flex;
			gap: 10px;
			align-items: center;
			font-weight: 600;
			font-size: 1rem;
			color: $gold-accent;
			font-family: var(--card-price-size);

			&--old,
			&--new {
				display: flex;
				align-items: center;
				// font-weight: 400;
			}

			&--old {
				color: $discount-price;
				text-decoration-line: line-through;
				font-weight: 300;
			}

			&--discount {
				color: $gold-accent;
			}
		}
	}

	&__close-btn {
		border: none;
		background: transparent;

		& svg {
			color: $light-gray-text;
		}
	}
}
