//_primary-btn.scss
@use "./../../styles/base/variables" as *;
@use "./../abstracts/mixins" as *;

.process-section {
	padding-block: 80px;

	&__header {
		text-align: center;
	}

	&__text {
		max-width: 800px;
		margin: 16px auto 0;
		font-size: var(--regular-text-size);
		color: $light-gray-text;
	}

	&__steps {
		margin-top: 36px;
		display: grid;
		grid-template-columns: repeat(3, minmax(0, 1fr));
		gap: 20px;
	}

	&__title {
		// font-size: var(--section-title-size);
		font-size: var(--section-title-size);
	}

	&__step {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 12px;

		&-title {
			font-family: var(--title-font);
			color: $primary-text;
			font-size: var(--step-title-size);
			font-weight: 400;
		}

		&-text {
			color: $light-gray-text;
			text-align: center;
		}
	}

	&__number {
		font-family: var(--title-font);
		color: $light-gold;
		font-size: var(--section-title-size);
		font-weight: 400;
	}

	@include tablet {
		padding-block: 60px;
	}

	@include mobile {
		&__steps {
			grid-template-columns: repeat(1, minmax(0, 1fr));
		}
	}

	@include mobile-sm {
	}
}
