//_primary-btn.scss
@use "./../../styles/base/variables" as *;
@use "./../abstracts/mixins" as *;

.process-section {
	padding-block: 80px;

	&__header {
		text-align: center;
	}

	&__text {
		margin-top: 16px;
		margin-inline: 150px;
		font-size: var(--regular-text-size);
		color: $secondary-text;
	}

	&__steps {
		margin-top: 36px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 20px;
	}

	&__step {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 12px;

		&-title {
			font-family: var(--title-font);
			color: $primary-text;
			font-size: var(--card-title-size);
			font-weight: 400;
		}

		&-text {
			color: $light-gray-text;
			text-align: center;
		}
	}

	&__number {
		margin-bottom: 16px;
		font-family: var(--title-font);
		color: $light-gold;
		font-size: var(--title-size);
		font-weight: 400;
	}
}
