//_globals.scss
@use "./variables" as *;
@use "./../abstracts/mixins" as *;

//Fonts
:root {
	--title-font: #{$title-font-en};
	--text-font: #{$text-font-en};

	--hero-title-size: clamp(3rem, 4.8vw, 5rem);
	--hero-text-size: clamp(1.5rem, 1vw, 1.375rem);
	--title-size: clamp(0.875rem, 2.1vw, 4.5rem);
	--subtitle-size: clamp(1rem, 1vw, 4.5rem);
	--section-title-size: clamp(2rem, 0.8vw, 3.25rem);
	--card-title-size: clamp(1.125rem, 1.6vw, 1.5rem);
	--card-price-size: clamp(1rem, 1.3vw, 1.375rem);
	--badge-text-size: clamp(0.8125rem, 0.9vw, 1.2rem);
	--price-size: clamp(1.25rem, 2.5vw, 1.875rem);
	--login-title-size: clamp(1.5rem, 2vw, 3rem);
	--footer-title-size: clamp(0.875rem, 1vw, 4.5rem);
	--regular-text-size: clamp(1rem, 0.9vw, 1.375rem);
	--category-font-size: clamp(0.75rem, 0.9vw, 0.8125rem);
	--step-title-size: clamp(1.3rem, 1.7vw, 1.5rem);
}

.ua {
	--title-font: #{$title-font-ua};
	--text-font: #{$text-font-ua};

	--hero-title-size: clamp(3.1rem, 4.8vw, 5rem);
	--hero-text-size: clamp(1.25rem, 2.5vw, 1.5rem);

	--title-size: clamp(3.2rem, 3vw, 5rem);
	--subtitle-size: clamp(1rem, 1vw, 4.5rem);
	--section-title-size: clamp(2.2rem, 3.3vw, 3.6rem);
	--card-title-size: clamp(1.2rem, 1.8vw, 1.65rem);
	--card-price-size: clamp(1rem, 1.3vw, 1.375rem);
	--badge-text-size: clamp(0.8125rem, 0.9vw, 1.2rem);
	--login-title-size: clamp(1.5rem, 2vw, 3rem);
	--price-size: clamp(1.25rem, 2.5vw, 1.875rem);
	--footer-title-size: clamp(0.875rem, 1.3vw, 4.5rem);
	--regular-text-size: clamp(0.875rem, 0.9vw, 1.375rem);
	--category-font-size: clamp(0.75rem, 0.9vw, 0.8125rem);
	--step-title-size: clamp(1.3rem, 1.6vw, 1.5rem);
}
//var(--hero-title-size)
*,
*::before,
*::after {
	box-sizing: border-box;
}

html,
body,
#root {
	height: 100%;
}
body {
	font-family:
		var(--text-font),
		system-ui,
		-apple-system,
		sans-serif;
	line-height: 1.4;
	margin: 0;
}

.page {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.container {
	max-width: 1400px;
	margin: 0 auto;
	padding-inline: 32px;
	width: 100%;

	// Mobile breakpoint
	@include tablet {
		padding-inline: 24px;
	}

	@include mobile {
		padding-inline: 16px;
	}
}

main {
	flex: 1;
	padding-top: $header-height;
	display: flex;
	flex-direction: column;

	&:has(.header__search) .main {
		padding-top: calc($header-height + 72px);
	}

	@include tablet {
		padding-top: $header-height-tablet;
	}

	@include tablet-sm {
		padding-top: $header-height-tablet;
	}
}

.main-title {
	font-family: var(--title-font);
	color: $primary-text;
	font-size: var(--title-size);
	font-weight: 400;
}

.text {
	color: $light-gray-text;
	line-height: 1.625;
	font-size: var(--regular-text-size);
}
