//_globals.scss
@use "./variables" as *;
@use "./../abstracts/mixins" as *;

*,
*::before,
*::after {
	box-sizing: border-box;
}

html,
body,
#root {
	height: 100%;
}
body {
	font-family:
		"Outfit",
		system-ui,
		-apple-system,
		sans-serif;
	line-height: 1.4;
	margin: 0;
}

.page {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.container {
	max-width: 1280px;
	margin: 0 auto;
	padding-inline: 2rem;
	width: 100%;
}

main {
	flex: 1;
	padding-top: $header-height;
	display: flex;
	flex-direction: column;
}

.main-title {
	font-family: "CinzelDecorative";
	color: $primary-text;
	font-size: 2.25rem;
	font-weight: 400;
}

.text {
	color: $light-gray-text;
	line-height: 1.625;
	font-size: 1rem;
}
