//_reset.scss
html,
body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
img,
ol,
ul,
li,
fieldset,
form,
label,
legend,
article,
aside,
footer,
header,
menu,
nav,
section,
time {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}

a {
	color: inherit;
	text-decoration: none;
}

img {
	max-width: 100%;
	display: block;
}

article,
aside,
footer,
header,
menu,
nav,
section {
	display: block;
}

ol,
ul {
	list-style: none;
}
